<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html {
            background-color: black;
        }

        h1 {
            color: red;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <h1> <%= output %> </h1>
</body>

</html>