<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="css/util.css"> -->
    <link rel="stylesheet" type="text/css" href="/register.css">
    <!--===============================================================================================-->


</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="background-color: black">
            <div class="wrap-login100">
                <form action="/users/register" method="POST" class="login100-form validate-form" autocomplete="off">

                    <% if(errMsg) { %>
                    <h4 style="color:red; text-align:center; position: absolute; bottom:18cm; right:17.5cm;"> <%= errMsg %> </h4>
                    <% } %>

                    <span class="login100-form-title p-b-34 p-t-27">
                        join us
                    </span>

                    <div class="wrap-input100 validate-input">
                        //NOTE FULLNAME
                        <input class="input100" type="text" name="fullName" placeholder="fullname">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        //NOTE USERNAME
                        <input class="input100" type="text" name="username" placeholder="username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        //NOTE EMAIL
                        <input class="input100" type="text" name="email" placeholder="email">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        //NOTE PASSWORD
                        <input class="input100" type="password" name="password" placeholder="password">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Register
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


</body>

</html>