<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html {
            background-color: black;
        }

        @import url(https://fonts.googleapis.com/css?family=Oswald:400);


        .logoutLimitter p {
            z-index: 5;

            width: 25px;
            border-radius: 50px;
            float: left;
            padding-right: 10px;
            position: relative;
            bottom: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .welcome p {
            z-index: 5;
            width: 25px;
            border-radius: 50px;
            float: left;
            padding-right: 10px;
            position: relative;
            bottom: 23px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .keluar p {
            z-index: 5;
            width: 16px;
            border-radius: 50px;
            float: left;
            padding-right: 10px;
            position: relative;
            bottom: 23px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .logoutLimitter .logout {
            z-index: 5;
            color: red;
            float: right;
            right: 50cm;
            font-size: .8em;
            font-family: 'Oswald', sans-serif;
            position: relative;
            right: -5px;
            bottom: -12px;
            overflow: hidden;
            letter-spacing: 3px;
            opacity: 0;
            transition: opacity .45s;
            -webkit-transition: opacity .35s;

        }

        /* tulisan logout */
        .logoutLimitter .button {
            z-index: 5;
            position: relative;
            /* left:40cm; */
            bottom: 17px;
            text-decoration: none;
            float: right;
            padding: 12px;
            left: 4px;
            margin: 15px;
            color: white;
            width: 50px;
            height: 20px;
            background-color: black;
            transition: width .35s;
            -webkit-transition: width .35s;
            overflow: hidden;
        }

        .logoutLimitter a:hover {
            width: 100px;
        }

        .logoutLimitter a:hover .logout {
            opacity: .9;
        }

        .logoutLimitter a {
            text-decoration: none;
        }

        .user_name {
            position: absolute;
            color: red;

        }
    </style>

</head>

<body>

    <%- include('./partials/navbar') %>


    <div class="logoutLimitter">
        <div class="welcome">
            <a class="button" href="/users/<%= output.userData.id %>/edit">
                <p><%= output.session.userLoggin.name %></p>
                <div class="logout">edit</div>
            </a>
        </div>
    </div>


    <div class="logoutLimitter">
        <div class="keluar">
            <a class="button" href="/users/logout">
                <p>logout</p>
                <div class="logout">sure?</div>
            </a>
        </div>
    </div>

</body>

</html>